.embed-responsive-square {
  padding-bottom: 100%;
}

.embed-responsive-558by672{
  padding-bottom: 120.4%;
}

.embed-responsive-2504by776{
  padding-bottom: 30.9904%;
}

#side-panel {
  //padding: 50px;
}

#projects-pane {
  //padding:50px;
  height:100%;
}

.project {
  padding-top:50px;
}

.description {
  padding-top:12px;
}

h1 {
	font-family: 'Chau Philomene One', sans-serif;
}

h3 {
 font-family: 'Khand', sans-serif;
}

html {
  height:100%;
}

body {
  max-height:100%;
  background-color:#f0f0f0;
  color:#444444;
}

.main-contents {
  padding-top:50px;
}