.main-container {
	background-color: white;
	font-family: sans-serif;
	max-width: 900px;
	margin:0 auto;
	border: solid black;
	padding-top: 30px;
	padding-left: 50px;
	padding-right:50px;
	padding-bottom: 30px;
}

.explanation-message {
	//max-width: 600px;
	//font-size: 20px;
}

.copyright {
	color: #666666;
	text-align: center;
	margin: 50px;
}

img {
	max-width:100%;
	display:block;
	margin:0 auto;
}

canvas {
	display:block;
	margin:0 auto;
}

h1 {
	//display: inline-block;
	//padding: 20px;
	//background-color: black;
	//color:white;
}