body {
	font-family: sans-serif;
}

#container {
	width: 800px;
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
}

#me {
	display: inline-block;
	width:200px;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 30px;
	margin-right: 40px;
	float: left;
}

#intro {
	vertical-align: middle;
	color: #555;
	padding-top:20px;
	margin-left: 30px;
	margin-right: 30px;
}

#personal-info {
	display:inline-block;
}

#top {
	margin-top:90px;
}

.project-title {
	color:#333;
	font-family: sans-serif;
	font-size:18pt;
	display:block;
	font-weight: bold;
}

hr {
	height: 3px;
	color: #eee;
	border:none;
	background-color: #eee;
}

.project {
	display: inline-block;
	width: calc(100% - 60px);
	color: #555;
	margin-top: 40px;
	padding: 30px;
	border-radius: 20px;
	background-color: white;
	border:solid 2px #eee;
}

h1 {
	color: #333;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	display: inline-block;
	width: 280px; /* Needs to be wider than intro to have nice wrapping */
	margin-top: 30px;
}

h2 {
	color:#555;
	font-size: 18pt;
	font-weight: bold;
}

a:link {
	text-decoration: none;
}

a:visited {
	color:black;
}

a:hover .project-title {
	color:#366bc1;
}