#users {
	background-color: #ffffff;
	width: 100%;
	height: 20px;
	position: fixed;
	left: 0px;
	top: 70%;
	cursor:pointer;
}

#start_chat {
	position: fixed;
	left: 50%;
	top: 70%;
	background-color: #ffffff;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 30px;
	margin-bottom: 10px;
	font-family: sans-serif;
	font-variant: small-caps;
	cursor: pointer;
	transform: translate(-50%, 50px);
}

#chats {
	position: fixed;
	left: 0;
	top: 70%;
}

#backdrop{
	background-color: #222222;
	position:fixed;
	width:100%;
	height:100%;
	left:50%;
	top:50%;
	cursor:pointer;
	transform: translate(-50%, -50%);
}

.activeConversation.conversation{
	z-index: 0;
}

.person {
	position: absolute;
	display: block;
	//border-radius: 10px;
	//border: solid 10px white;
	//transform: translate(-50%, -50%);
}

.icon {
	position: absolute;
	background-color: #666666;
	color: white;
	text-align: center;
	font-family: sans-serif;
	display: block;
	padding: 5px;
	margin-left: -5px;
	margin-top: -5px;
	border-radius: 20px;
	cursor: default;
	z-index: 0;
}

.debug {
	text-align: right;
	color: #aaaaaa;
	font-size: 8pt;
	display: none;
}

.me {
	background-color:#f07d3a;
}

.mymessagecontainer {
	text-align: right;

}

.theirmessagecontainer {
	text-align: left;

}

.messages {
	/*overflow: auto;
	max-height: 190px;*/
}

.message {
    padding:4px;
    margin: 2px;
	border-radius: 5px;
	display:inline-block;
	color:white;
	font-size: 10pt;
	max-width:170px;
	word-wrap: break-word;
}

.my{
	background-color: #f07d3a;
}

.their{
	background-color: #f03a7d;
}

input[type="text"] {
  display: block;
  margin: 0;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  border: solid 2px #eeeeee;
  padding: 5px;
  margin-top: 2px;
  width:100%;
  min-width: 50px;
  display: block;
}
input[type="text"]:focus {
  outline: none;
}

.conversation {
	position:absolute;
	display:block;
	z-index: -10;
	background-color: rgba(255,255,255,1.0);
	padding: 5px;
	font-family: sans-serif;
	border-radius: 20px;
	border: solid 10px #222222;
	vertical-align: top;
	transform: translate(-50%, 0px);
}

.participants {
	position:fixed; /* temporary as I don't know how to hide it properly */
	color : red;
	font-size: 8pt;
    display: none;
}

.highlight {
	border: solid 3px red;
}

.xCoordinate, .yCoordinate {
	display: none;
}

.options {
	position:absolute;
	background-color: #ffffff;
	font-variant: small-caps;
	font-family: sans-serif;
	color: green;
	padding: 5px;
	width: 60px;
	text-align: right;
	border-radius: 10px;
	margin-top: -15px;
	margin-left: -15px;
	z-index: -1;
	cursor: pointer;
}
