body {
	margin:0;
	background-color:white;
}

#debug {
	color:red;
}

#debug2 {
	color:green;
}

#viewport {
	display:block;
	position:absolute;
	left:50%;
	top:50%
}

#info_panel {
	background-color: white;
	font-size: 10pt;
	color: black;
	position: absolute;
	text-align:center;
	top: 15%;
	width: 100%;
	height: 85%
}

#description {
	display:inline-block;
	text-align: left;
}

#extra_content {
	font-family: Georgia;
	color: black;
}

#jacobian_matrix {
	padding: 5px;
	display: inline-block;
	background-color: white;
}

#button_array{
	position:absolute;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	top:10px;
}

.fancy_button{
	border: solid 1px black;
	display:inline-block;
	padding: 5px;
	color:black;
	text-align:center;
	width: 150px;
	border-radius: 15px;
}

.fancy_button:hover{
	background-color:#eeeeee;
	cursor: pointer;
}

.fancy_button:active{
	color: black;
}

#svg_annotation{
	position: absolute;
}

#viewport{
	left: 0px;
	top: 15%;
}

.selected {
	background-color:black;
	color:white;
}
.matrix_brackets {
	display: inline-block;
	border-right: 1px solid;
	border-left: 1px solid;
	border-radius: 5px;
	text-align: right;
	padding: 3px;
}

.matrix_column {
	display: inline-block;
	text-align: right;
	padding: 3px;
	width: 50px;
	font-family: monospace;
}

.symbol {
	min-width: 100px;
	display: inline-block;
	text-align: right;
	font-style: italic;
	vertical-align: top;
}

.symbol_explanation {
	min-width: 50px;
	display: inline-block;
	vertical-align: top;
}