{% extends "base.html" %}
{% block javascript %} <script src="/static/js/LinearTransformationDemo.js"></script> {% endblock %}

{% block title_content%}
<h2>Matrices as Linear Transformations</h2>
This is an interactive rig to make the idea of a linear transformation intuitive.
Clicking and dragging the scenes to rotate the view. Mouseover and scroll to zoom in and out. Click and drag the control points in the scene on the right to modify the transformation.

{% endblock %}

{% block page_content %}
<div class="container-fluid">
	<div class = "row">
	  <div class = "col-md-6 col-xs-12" id = "board_A"></div>
	  <div class = "col-md-6 col-xs-12" id = "board_B"></div>
	  <div class = "col-md-3 col-xs-12" id = "info_panel">
	  <span id="control"></span>
            <div id = "extra_content">
              <div id = "description"></div>
            </div>
        </div>
	</div>
</div>
{% endblock %}
